.counters {
    background-color: var(--box-and-border-gray);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    border-radius: 8px;
}
.counters_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var( --slim-font);
    padding: 25px;
}
span{
    color: var(--check-box-and-counter);
    font-size: 35px;
    font-weight: 500;
    margin: 0;
}
p {
    font-size: 20px;
    margin: 0;
}

@media (max-width: 600px) {
    .counters {
      flex-direction: column;
      width: 100%;
    }
    .counters_wrap {
      padding: 15px;
    }
    span {
      font-size: 25px;
    }
    p {
      font-size: 16px;
    }
  }
  