.input_Form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.add_btn{
    background-color: var(--add-task-btn);
    color: var(--card-bg);
    border: none;
    font-size: 20px;
    padding: 18px 12px;
    margin-left: 7px;
    border-radius: 8px;
}

.input_Form input {
    width: 70%;
    padding: 8px;
    border: 3px solid var(--box-and-border-gray);
    border-radius: 8px;
}

input:focus{
    outline: none;
}

input::placeholder{
    font-size: 20px;
}

@media (max-width: 600px) {
    .input_Form {
      flex-direction: column;
      align-items: center;
    }
    .input_Form input {
      width: 90%;
      padding: 12px;
      font-size: 18px;
    }
    .add_btn {
      width: 90%;
      margin-left: 0;
      margin-top: 10px;
      padding: 15px 0;
      font-size: 18px;
    }
    input::placeholder {
      font-size: 16px;
    }
  }